<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookList</title>
    <style>
      img {
        max-width: 200px;
        height: auto;
        display: block;
        margin-top: 10px;
      }

      @media (max-width: 600px) {
        img {
          max-width: 100%;
        }
      }
  </style>
</head>
<body>
    
    <form action="/new" method="POST">
        <input type="text" name="title" placeholder="Title">
        <textarea name="notes" placeholder="Notes"></textarea>
        <input type="date" name="date">
        <label for="rating">Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit">
    </form>

    <form action="/sort" method="post">
      <label for="sort">Sort by:</label>
          <select name="sort">
            <option value="rating">Rating</option>
            <option value="date_read">Date</option>
          </select>
          <input type="submit">
      </form>
    
<ul>
  <% pastList.forEach(book => { %>
    <li>
      <h1><%= book.title %></h1>
      <form action="/edit/<%= book.id %>" method="get">
        <button type="submit" style="display: inline">Edit</button>
      </form>
      <form action="/delete/<%= book.id %>" method="get">
        <button type="submit">Delete</button>
      </form>
      <h2><%= book.author %></h2>
      <p><%= book.notes %></p>
      <p><b><%= book.rating %></b></p>
      <p><b><%= book.date_read %></b></p>
      <img src="<%= book.cover %>" alt="cover image">
    </li>
  <% }) %>
</ul>

</body>
</html>