<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookList</title>
</head>
<body>
    
    <form action="/new" method="POST">
        <input type="text" name="title" placeholder="Title">
        <textarea name="notes" placeholder="Notes"></textarea>
        <input type="date" name="date" placeholder="Date when finished reading">
        <label for="rating">Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit">
    </form>
    
<ul>
  <% pastList.forEach(book => { %>
    <li>
      <h1><%= book.title %></h1>
      <h2><%= book.author %></h2>
      <p><%= book.notes %></p>
      <p><b><%= book.rating %></b></p>
      <p><b><%= book.date_read %></b></p>
      <img src="<%= book.cover %>" alt="cover image">
    </li>
  <% }) %>
</ul>

</body>
</html>